* {
    box-sizing: border-box;
}

header {
    text-align: center;
}

h1 {
    color: #f87431;
    text-align: center;
    font-size: 40px;
    font-family: garamond, helvetica, sans-serif;
}

body {
    background-image:url(../img/iceland1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body > p {
    font-family: garamond, helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.4)
}

img {
    margin: 0 5% 0 5%;
    padding: 1px; /* TRouBLe */
}

footer {
    text-align: center;
}

nav {
    padding: 5px;
}

nav a {
    border: 1px solid #6495ED;
    padding: 3px;
    border-radius: 10px;
}

div {
    height: 100px;
    width: 100px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border: 2px solid;
    border-radius: 100%;
    margin: auto;
    text-align: center;
    display: inline-block;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: garamond, helvetica, sans-serif;
    color: #6495ED;
}

div p a {
    position: relative;
    font-size: 16px;
    text-align: center;
}

footer a {
     background-color: rgba(0,0,0,0.3);
}

header nav a {
     background-color: rgba(0,0,0,0.2);
}